html {
  -webkit-font-smoothing: antialiased;
  height:100%;
}
body {
  min-height:100%;
  line-height:1.75;
}
a,
a:hover {
  color:#44a9eb;
}
h1, h2, h3, h4, h5, h6 {
  margin:20px 0 20px;
  letter-spacing:-0.03em;
  font-weight:bold;
  color:#555;
}
p {
  margin:0 0 20px;
}
ul.bulletless {
  padding-left:0;
  list-style:none;
}
hr.space {
  border:1px solid transparent;
}
.dropdown-menu {
  background-color:#fff;
  border:none;
}
.dropdown-menu > li:hover > a {
  background-color:#eee;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color:inherit;
  background-color:#ddd;
}

/*******************
 * http://stackoverflow.com/questions/20476045/page-scrolls-to-top-also-fixed-navbar-when-external-link-opens-tab/20477243#20477243
 */
.anchor {
  margin-top:-70px;
  padding-top:70px;
}

/*******************
 * Container
 */

.container,
.jumbotron .container {
  max-width:970px;
}

/*******************
 * Jumbotron
 */

.jumbotron {
  padding:32px;
}
.jumbotron h1,
.jumbotron h2,
.jumbotron h3 {
  letter-spacing:-0.03em;
  line-height:1;
  color:#fff;
  text-shadow:0 2px 0 rgba(0,0,0,0.2);
}
  .jumbotron h1 {
    font-weight:bold;
    font-size:64px;
  }
  .jumbotron h2 {
    font-weight:normal;
    font-size:40px;
  }
.jumbotron p {
  color:#fff;
  text-shadow:0 2px 0 rgba(0,0,0,0.2);
}

/*******************
 * Navbar
 */

.navbar-default {
  margin-bottom:0;
  min-height:60px;
  background-color:transparent;
  border:none;
  border-radius:0;
}
  .navbar-default > .container > .row {
    border-bottom:1px solid rgba(255,255,255,0.5);
  }

/*******************
 * Navbar Brand
 */

.navbar-default .navbar-brand {
  padding-top:20px;
  padding-bottom:20px;
  font-size:20px;
  color:#fff;
  font-weight:bold;
  text-shadow:0 2px 0 rgba(0,0,0,0.2);
}
  .navbar-default .navbar-brand:hover {
    color:#fff;
  }

/*******************
 * Navbar Links
 */

.navbar-default .navbar-nav > li > a {
  padding:20px 20px;
  color:#fff !important;
  text-shadow:0 2px 0 rgba(0,0,0,0.2);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:link,
.navbar-default .navbar-nav > li.open > a,
.navbar-default .navbar-nav > li.open > a:link {
  padding-bottom:15px;
  color:#fff;
  background-color:transparent;
  border-bottom:5px solid rgba(255,255,255,0.25);
}
  .navbar-default .navbar-nav > li.active > a:link {
    border-bottom-color: rgba(255,255,255,0.5);
  }

.navbar-default .navbar-nav > li > a > .glyphicon {
  color:#fff;
}

/*******************
 * Header
 */

header {
  background-size:cover;
  background-position:center center;
}

header > .jumbotron {
  padding-top:40px;
  background-color:transparent;
}
header > .jumbotron h1 {
  letter-spacing:-0.03em;
  line-height:1;
  font-size:64px;
  font-weight:bold;
  color:#fff;
  text-shadow:0 2px 0 rgba(0,0,0,0.2);
}
header > .jumbotron p {
  color:#fff;
  text-shadow:0 2px 0 rgba(0,0,0,0.2);
}
header > .jumbotron .nav-pills>li>a {
  color:#fff;
}
header > .jumbotron .nav-pills>li>a:hover,
header > .jumbotron .nav-pills>li>a:focus {
  color:#44a9eb !important;
  background-color:rgba(255,255,255,0.8);
}
header > .jumbotron .nav-pills>li.active>a,
header > .jumbotron .nav-pills>li.active>a:hover,
header > .jumbotron .nav-pills>li.active>a:focus {
  color: #44a9eb;
  background-color: #fff;
}

/*******************
 * Footer
 */
footer {
  margin-top:40px;
  margin-bottom:30px;
  font-size:13px;
}
  footer .row:first-child {
    padding-top:30px;
    border-top:1px solid #ddd;
  }
  footer ul {
    list-style:none
  }
  footer ul > li {
    float:left;
    padding-right:20px;
  }


/*******************
 * Webpage thumbnail
 */
.webpage-thumbnail {
  margin-bottom:15px;
  padding-top:8px;
  height:160px;
  overflow:hidden;
  background:
    url('img/titlebar-left.png') no-repeat top left / 24px 8px,
    url('img/titlebar-right.png') no-repeat top right / 24px 8px,
    url('img/titlebar-fill.png') repeat-x top left / 100% 8px;
  box-shadow:0px 3px 7px rgba(0,0,0,0.25);
}
  .webpage-thumbnail > img {
    width:100%;
  }
.image-thumbnail {
  margin-bottom:15px;
  padding:8px;
  /*height:160px;*/
  overflow:hidden;
  box-shadow:0px 3px 7px rgba(0,0,0,0.25);
}
  .image-thumbnail > img {
    width:100%;
  }
.project-thumbnail {
  margin-bottom:15px;
  height:160px;
  overflow:hidden;
  box-shadow:0px 3px 7px rgba(0,0,0,0.25);
}
  .project-thumbnail > img {
    width:100%;
  }

/*******************
 * Collection header
 */
#collection-header {
  position:fixed;
  top:0;
  left:0;
  right:0;
  background-image:url(../img/bg-44a9eb.png);
  box-shadow:0 1px 3px rgba(0,0,0,0.2);
  z-index:1000;
}
  #collection-header .navbar-default > .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 0;
  }
  #collection-header .navbar-default > .container > .row {
    border-bottom:0;
  }
/*******************
 * Collection frame
 */
#collection-frame {
  position:absolute;
  box-sizing:border-box;
  padding:70px 10px 0 250px;
  width:100%;
  min-height:100%;
  background-color:#eee;
}
/******************
 * Collection list
 */
#collection-list {
}
/*******************
 * Collection sidebar
 */
#collection-sidebar {
  box-sizing:border-box;
  position:fixed;
  z-index:10;
  top:60px;
  left:0;
  bottom:0;
  padding:15px;
  width:240px;
  background-color:#fff;
  overflow-y:auto;
}
  #collection-sidebar ul {
    list-style:none;
    padding:0;
  }
  #collection-sidebar ul > li {
    margin-bottom:1px;
  }
  #collection-sidebar ul > li > a {
    display:block;
    padding:5px 5px;
    line-height:1em;
    font-size:12px;
  }
  #collection-sidebar ul > li > a:first-letter {
    text-transform:capitalize;
  }
  #collection-sidebar ul > li > a:hover,
  #collection-sidebar ul > li > a.active {
    color:#fff;
    background-color:#44a9eb;
    text-decoration:none;
    border-radius:2px;
  }
/*******************
 * Tools items
 */
a.tools-item {
  box-sizing:border-box;
  margin:10px;
  padding:0;
  width:200px;
  height:250px;
  background-color:#fff;
  box-shadow:0 2px 5px rgba(0,0,0,0.2);
  border-radius:2px;
  color:initial;
  text-decoration:none;
  overflow:hidden;
}
  a.tools-item::before {
    content:' ';
    position:absolute;
    top:0;
    left:0;
    width:200px;
    height:150px;
    background-repeat:no-repeat;
    background-size:200px 50px;
    background-position:center bottom;
    background-image:-webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1) 67%, rgba(0,0,0,0.2));
  }
  a.tools-item:hover {
    box-shadow:0 2px 15px rgba(0,0,0,0.4);
  }
  a.tools-item > img {
    width:200px;
    height:150px;
    background:#FFF url(../img/loading.gif) no-repeat center center;
  }
  .tools-item-name {
    margin:10px 10px 4px 10px;
    line-height:16px; /* line-height * 1 */
    max-height:16px;
    font-weight:bold;
    font-size:14px;
  }
  .tools-item-platform {
    margin:0 10px 6px;
    line-height:12px; /* line-height * 1 */
    max-height:12px;
    font-size:12px;
    color:#aaa;
  }
  .tools-item-slogan {
    margin:0 10px 10px;
    max-height:42px;  /* line-height * 3 */
    line-height:14px;
    font-size:12px;
  }
/******************
 * Papers items
 */
.papers-item {
  padding:12px 15px;
  width:100%;
  background-color:#fff;
  border-bottom:1px solid #eee;
}
  .papers-item-title {
    display:block;
    float:left;
    line-height:20px;
    font-size:14px;
    font-weight:bold;
    color:#333;
  }
  .papers-item-year {
    float:left;
    margin-left:5px;
    line-height:20px;
    font-size:12px;
    color:#999;
  }
  .papers-item-authors {
    clear:both;
    line-height:16px;
    font-size:12px;
  }
  .papers-item-publisher {
    line-height:16px;
    font-size:12px;
  }