---
layout: default
title: "Personal Informatics in Practice: Improving Quality of Life Through Data - CHI 2012 Workshop"
section: workshops
---

{% include chi2012_header.html %}

<!-- ============================== -->
<!-- Body -->
<!-- ============================== -->
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>Call for Participation</h2>
      <p>
      	Knowing oneself has many benefits, including improving learning,
      	increasing self-control, and promoting positive behaviors.
      	A new class of applications called personal informatics is appearing
      	that help people learn more about their selves, their behaviors, and their habits.
      	This workshop will bring together researchers in a wide range of disciplines
      	to discuss challenges and explore opportunities for human-computer interaction in the growing field of personal informatics.
      </p>
      <p>
      	We will discuss technical and design issues related
      	to monitoring and feedback of personal behavioral information.
      	We will discuss different behavioral theories to guide the development
      	of personal informatics systems, and the social implications of self-tracking.
      	We will discuss how to apply lessons learned from past research and existing products
      	on various application domains relevant to improving quality of life,
      	such as fitness, nutrition, wellness, mental health, and sustainability.
      	Key research areas include: ubiquitous computing, life logging, visualizations,
      	persuasive technologies, interaction design, psychology of self-knowledge and self-awareness.
      </p>
      <p>
      	We invite technologists, designers, and behavioral scientists working
      	on topics related to personal informatics.
      	Submit a position paper (2 to 4 pages) in the <a href="http://chi2012.acm.org/cfp-formatting-instructions.shtml#extendedformat">ACM Extended Abstracts format</a>
      	about your ongoing work, recent results, study methods, or perspectives on personal informatics.
      	Papers will be peer-reviewed and 15-20 participants will be selected by relevance and likelihood
      	of stimulating and contributing to this discussion.
      	Email your paper in PDF format to
        <script type="text/javascript">eval(decodeURIComponent('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%69%61%6e%6c%69%40%69%61%6e%6c%69%2e%63%6f%6d%22%3e%69%61%6e%6c%69%40%69%61%6e%6c%69%2e%63%6f%6d%3c%2f%61%3e%27%29%3b'))</script>
      	with subject "CHI 2012 Workshop Submission"
      	by January 23, 2012.
      </p>
      <p>
      	Note: At least one author of each accepted paper must register for the workshop
      	and for one or more days of the CHI conference.
      </p>

      <h2>Topics of Interest</h2>
      <ul>
      	<li>New and current personal informatics applications and systems on the desktop and online</li>
      	<li>Sensor and life-logging technologies that monitor various personal behavioral information</li>
      	<li>Effective feedback techniques, such as visualizations, virtual agents, and persuasive technologies,
      		that help users become more aware of their own behaviors</li>
      	<li>Interaction techniques that alleviate the burden that personal informatics impose on engagement</li>
      	<li>Effects of self-knowledge and self-awareness on behaviors and daily life</li>
      	<li>Methods of conducting long-term studies to determine effects of information on user behavior</li>
      </ul>

    	<h2>Abstract</h2>
    	<p>
    		<a href="/docs/chi2012/pi-chi2012-abstract.pdf">View PDF</a>
    	</p>

    </div>
    <div class="col-md-3">
      {% include chi2012_sidebar.html %}
    </div>
  </div>
</div>
