<!-- ============================== -->
<!-- Header -->
<!-- ============================== -->
<header style="background-image:url(/img/bg-44a9eb.png);background-size:cover;background-position:center center;">
  {% include navbar.html %}

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>
            Personal Informatics in the Wild: Hacking Habits for Health &amp; Happiness<br>
          </h1>
          <h2>CHI 2013 Workshop</h2>
          <ul class="nav nav-pills">
            <li {% if page.url == "/chi2013/index.html" %}class="active"{% endif %}><a href="./">Accepted Papers</a></li>
            <li {% if page.url == "/chi2013/cfp.html" %}class="active"{% endif %}><a href="cfp.html">Call for Participation</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
