<h4>Share</h4>

<p>
  <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
</p>
<p>
	<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://personalinformatics.org/" data-text="{{ page.title }}" data-count="horizontal">Tweet</a>
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</p>

<h4>Connect</h4>

<p>
	Follow <a href="http://twitter.com/allpi">@allpi</a> on Twitter.
</p>
<p>
	Join the <a href="http://www.facebook.com/group.php?gid=149242736469">Personal Informatics Facebook Group</a>.
</p>

<h4>Organized by</h4>
<p>
	<a href="http://ianli.com/">Ian Li</a><br/>
	<a href="http://www.cs.umd.edu/~jonf/">Jon Froehlich</a><br/>
	<a href="http://milab.imm.dtu.dk/jel">Jakob Eg Larsen</a><br/>
	<a href="http://catherinegrevet.com/">Catherine Grevet</a><br/>
	<a href="http://www.ernestoramirez.org/">Ernesto Ramirez</a>
</p>

<h4>Dates</h4>
<ul class="bulletless">
	<li>
		<b>Papers Due</b>&nbsp;
		<del>January 11, 2013</del><br/>
		January 18, 2013
	</li>
	<li>
		<b>Notification</b>&nbsp;
		February 8, 2013
	</li>
	<li>
		<b>Workshop</b>&nbsp;
		April 27&ndash;28, 2013
	</li>
</ul>

<h4>CHI 2013</h4>
<p>
  <a href="http://chi2013.acm.org/">
    <img src="/img/chi2013/chi2013.png" alt="CHI 2013" width="220">
  </a>
</p>
<p>
	April 27&ndash;May 2, 2013<br/>
	Paris, France
</p>
