<!-- ============================== -->
<!-- Header -->
<!-- ============================== -->
<header style="background-image:url(/img/bg-44a9eb.png);">
  {% include navbar.html %}

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>
            Personal Informatics in Practice: Improving Quality of Life Through Data
          </h1>
          <p>
            CHI 2012 Workshop &middot;
            May 5&ndash;10, 2012 &middot;
            Austin, Texas, USA
          </p>
          <ul class="nav nav-pills">
            <li {% if page.url == "/chi2012/index.html" %}class="active"{% endif %}><a href="./">Accepted Papers</a></li>
            <li {% if page.url == "/chi2012/cfp.html" %}class="active"{% endif %}><a href="cfp.html">Call for Participation</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
