<!-- ============================== -->
<!-- Header -->
<!-- ============================== -->
<header style="background-image:url(/img/bg-44a9eb.png);background-size:cover;background-position:center center;">
  {% include navbar.html %}

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>
            Disasters in <br>
            Personal Informatics:<br>
            The Unpublished Stories of Failure and Lessons Learned
          </h1>
          <h2>Ubicomp 2014 Workshop &middot; September 14, 2014 &middot; Seattle, WA</h2>
        </div>
      </div>
    </div>
  </div>
</header>
