---
layout: collection
section: papers
form_url: https://docs.google.com/forms/d/1O9fCBnfwkrqzG_WGKCbvOMkdrpAANhwtbOfaNQw8K14/viewform?usp=send_form
form_invite: Add information about a paper
---

<div id="collection-list">
  {% for paper in site.data.papers %}
    <div
      class="collection-item
        papers-item
        {% for tag in paper.tags %}
          {{ tag | replace:' ','-' | prepend:"tag-" }}
        {% endfor %}
      ">
      <div class="papers-item-download">
        <div class="papers-item-type">
          {% if paper.type %}
            {{ paper.type }}
          {% else %}
            conference paper
          {% endif %}
        </div>
        {% if paper.pdf %}
          <a class="btn btn-default btn-sm" href="{{ paper.pdf }}" target="_blank">
            <span class="glyphicon glyphicon-save"></span>
          </a>
        {% endif %}
        {% if paper.url %}
          <a class="btn btn-default btn-sm" href="{{ paper.url }}" target="_blank">
            <span class="glyphicon glyphicon-globe"></span>
          </a>
        {% endif %}
      </div>
      <div class="papers-item-title">{{ paper.title }}</div>
      <div class="papers-item-year">({{ paper.year }})</div>
      <div class="papers-item-authors">{{ paper.authors }}</div>
      <div class="papers-item-publisher">
        {{ paper.publisher }}{% if paper.pages %}, {{ paper.pages }}{% endif %}
      </div>
      <div class="papers-item-keywords">
        keywords: {{ paper.tags | join:', ' }}
      </div>
    </div>
  {% endfor %}
</div>

<script>
  $(document).ready(function () {
    setupCollectionIsotope({
      getSortData: {
        year: '.papers-item-year',
        authors: '.papers-item-authors'
      },
      sortBy: ['year', 'authors']
    });
  });
</script>