---
layout: collection
section: tools
---

<div id="collection-list">
  {% for tool in site.data.tools %}
    {% if tool.approved %}
      <a href="{{ tool.url }}" target="_blank"
        class="collection-item
          tools-item
          {% for tag in tool.tags %}
            {{ tag | replace:' ','-' | prepend:"tag-" }}
          {% endfor %}
        ">
        <img src="/img/blank.gif" data-echo="/img/thumbnails/{{ tool.thumbnail }}">
        <div class="tools-item-name">{{ tool.name }}</div>
        <div class="tools-item-platform">{{ tool.platforms | join:', ' }}</div>
        <div class="tools-item-slogan">{{ tool.slogan }}</div>
      </a>
    {% endif %}
  {% endfor %}
</div>