---
layout: collection
section: tools
title: Personal Informatics Tools
form_url: https://docs.google.com/forms/d/1O9fCBnfwkrqzG_WGKCbvOMkdrpAANhwtbOfaNQw8K14/viewform?usp=send_form
form_invite: Add a tool, device, or app
---

<div id="collection-list">
  {% for tool in site.data.tools %}
    {% if tool.approved %}
      <a href="{{ tool.url }}" target="_blank"
        class="collection-item
          tools-item
          {% for tag in tool.tags %}
            {{ tag | replace:' ','-' | prepend:"tag-" }}
          {% endfor %}
        ">
        <img src="/img/blank.gif" data-echo="/img/thumbnails/{{ tool.thumbnail }}">
        <div class="tools-item-name">{{ tool.name }}</div>
        <div class="tools-item-platform">{{ tool.platforms | join:', ' }}</div>
        <div class="tools-item-slogan">{{ tool.slogan }}</div>
      </a>
    {% endif %}
  {% endfor %}
</div>

<script>
  $(document).ready(function () {
    setupCollectionIsotope({
      getSortData: {
        created_at: '.create_at',
        authors: '.papers-item-authors'
      },
      sortBy: ['created_at']
    });
  });
</script>
