---
layout: default
section: workshops
workshop: chi2017
title: "The Future of Personal Informatics: Agenda, Methods, and Education &mdash; CHI 2017 Workshop Proposal"
---
<!-- ============================== -->
<!-- Header -->
<!-- ============================== -->
<header style="background-image:url(/img/bg-6c9d30.png);background-size:cover;background-position:center center;">
  {% include navbar.html %}

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>
            The Future of Personal Informatics: Agenda, Methods, and Education
          </h1>
          <p>CHI 2017 Workshop Proposal &middot; May 6 or 7, 2017 &middot; Denver, Colorado</p>
          <!--
          <ul class="nav nav-pills">
            <li {% if page.url == "/chi2017/index.html" %}class="active"{% endif %}><a href="./">Accepted Papers</a></li>
            <li {% if page.url == "/chi2017/cfp.html" %}class="active"{% endif %}><a href="cfp.html">Call for Participation</a></li>
          </ul>
          -->
        </div>
      </div>
    </div>
  </div>
</header>

<!-- ============================== -->
<!-- Body -->
<!-- ============================== -->
<div class="container">
  <div class="row">
    <div class="col-md-9">
      {{ content }}
    </div>
    <div class="col-md-3">
      <!-- ============================== -->
      <!-- Sidebar -->
      <!-- ============================== -->

      <h4>Organized by</h4>
      <p>
        <a href="http://depstein.net">Daniel A. Epstein</a><br/>
        <a href="http://www.m-iti.org/people/ruben">Rúben Gouveia</a><br/>
        <a href="https://faculty.ist.psu.edu/choe/">Eun Kyoung Choe</a><br/>
        <a href="http://jodiforlizzi.com/">Jodi Forlizzi</a><br/>
        <a href="http://ekarapanos.com/">Evangelos Karapanos</a><br/>
        <a href="http://www.smunson.com/">Sean A. Munson</a><br/>
        <a href="http://www.ernestoramirez.org/">Ernesto Ramirez</a>
      </p>

      <h4>Dates</h4>
      <ul class="bulletless">
        <li>
          <b>Papers Due</b><br/>
          December 21, 2016 (early&nbsp;submission to use 2016 Q4 budgets)<br/>
          January 20, 2017 (regular&nbsp;submission)
        </li>
        <li>
          <b>Notification</b><br/>
          December 23, 2016 (early&nbsp;submission)<br/>
          February 24, 2017 (regular&nbsp;submission)
        </li>
        <li>
          <b>Workshop</b>&nbsp;<br/>
          May 6 or 7, 2017
        </li>
      </ul>

      <h4>CHI 2017</h4>
      <p>
        <a href="http://chi2017.acm.org/">
          <img src="/img/chi2017/chi2017.png" alt="CHI 2017 logo" width="220">
        </a>
      </p>
      <p>
        May 6&ndash;11, 2017<br/>
        Denver, Colorado
      </p>

    </div>
  </div>
</div>
