---
layout: default
section: workshops
workshop: chi2012
title: "Personal Informatics in Practice: Improving Quality of Life Through Data &mdash; CHI Workshop 2012"
---
<!-- ============================== -->
<!-- Header -->
<!-- ============================== -->
<header style="background-image:url(/img/bg-44a9eb.png);">
  {% include navbar.html %}

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>
            Personal Informatics in Practice: Improving Quality of Life Through Data
          </h1>
          <p>
            CHI 2012 Workshop &middot;
            May 5&ndash;10, 2012 &middot;
            Austin, Texas, USA
          </p>
          <ul class="nav nav-pills">
            <li {% if page.url == "/chi2012/index.html" %}class="active"{% endif %}><a href="./">Accepted Papers</a></li>
            <li {% if page.url == "/chi2012/cfp.html" %}class="active"{% endif %}><a href="cfp.html">Call for Participation</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- ============================== -->
<!-- Body -->
<!-- ============================== -->
<div class="container">
  <div class="row">
    <div class="col-md-9">

      {{ content }}

    </div>
    <div class="col-md-3">

      <!-- ============================== -->
      <!-- Sidebar -->
      <!-- ============================== -->

      <h4>Share</h4>

      <p>
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </p>
      <p>
        <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://personalinformatics.org/" data-text="{{ page.title }}" data-count="horizontal">Tweet</a>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      </p>

      <h4>Connect</h4>

      <p>
        Follow <a href="http://twitter.com/allpi">@allpi</a> on Twitter.
      </p>
      <p>
        Join the <a href="http://www.facebook.com/group.php?gid=149242736469">Personal Informatics Facebook Group</a>.
      </p>

      <h4>Organized by</h4>
      <p>
        <a href="http://ianli.com/">Ian Li</a><br/>
        <a href="http://www.cc.gatech.edu/~eugenem/">Yevgeniy Medynskiy</a><br/>
        <a href="http://www.cs.washington.edu/homes/jfroehli/">Jon Froehlich</a><br/>
        <a href="http://milab.imm.dtu.dk/jel">Jakob Eg Larsen</a>
      </p>

      <h4>Dates</h4>
      <ul class="bulletless">
        <li>
          <b>Papers Due</b>&nbsp;
          <del>January 13, 2012</del><br/>
          January 23, 2012
        </li>
        <li>
          <b>Notification</b>&nbsp;
          February 10, 2012
        </li>
        <li>
          <b>Workshop</b>&nbsp;
          May 6, 2012
        </li>
      </ul>

      <h4>CHI 2012</h4>
      <p>
        <a href="http://chi2012.acm.org/">
          <img src="/img/chi2012/chi2012.png" alt="CHI 2012" width="220">
        </a>
      </p>
      <p>
        May 5&ndash;10, 2012<br/>
        Austin, Texas, USA
      </p>

    </div>
  </div>
</div>
