---
layout: default
---

<!-- ============================== -->
<!-- Header -->
<!-- ============================== -->
<header style="background-image:url(/img/bg-44a9eb.png);background-size:cover;background-position:center center;">
  {% include navbar.html %}

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>
            Resources
          </h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">

  <div class="row">
    <div class="col-md-9">
      {{ content }}
    </div>
    <div class="col-md-3">
      <h3>Contact</h3>
      <p>
        Contact us for questions, comments, and suggestions.
      </p>
      <p>
        <a href="http://ianli.com/">Ian Li</a><br>
        <td><a href="mailto:ianli@cmu.edu">ianli@cmu.edu</a>
      </p>
      <p>
        <a href="http://anind.cmubi.org/">Anind Dey</a><br>
        <a href="mailto:anind@cs.cmu.edu">anind@cs.cmu.edu</a>
      </p>
      <p>
        <a href="http://goodgestreet.com/">Jodi Forlizzi</a><br>
        <a href="mailto:forlizzi@cs.cmu.edu">forlizzi@cs.cmu.edu</a>
      </p>
      <p>
        HCI Institute<br/>
        Carnegie Mellon University<br/>
        Pittsburgh, PA 15213
      </p>
    </div>
  </div>

</div>