---
layout: default
---
<!-- ============================== -->
<!-- Header -->
<!-- ============================== -->
<header style="background-image:url(/img/bg-44a9eb.png);background-size:cover;background-position:center center;">
  {% include navbar.html %}

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>
            Disasters in <br>
            Personal Informatics:<br>
            The Unpublished Stories of Failure and Lessons Learned
          </h1>
          <p>Ubicomp 2014 Workshop &middot; September 14, 2014 &middot; Seattle, WA</p>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- ============================== -->
<!-- Body -->
<!-- ============================== -->
<div class="container">
  <div class="row">
    <div class="col-md-9">

      {{ content }}

    </div>
    <div class="col-md-3">
      <!-- ============================== -->
      <!-- Sidebar -->
      <!-- ============================== -->

      <h4>Connect</h4>

      <p>
        Join the <a href="http://www.facebook.com/group.php?gid=149242736469">Personal Informatics Facebook Group</a>.
      </p>

      <p>
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </p>
      <p>
        <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://personalinformatics.org/" data-text="{{ page.title }}" data-count="horizontal">Tweet</a>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      </p>

      <h4>Organizers</h4>
      <p>
        <a href="http://www.cs.umd.edu/~jonf/">Jon Froehlich</a><br>
        <a href="http://www.mjskay.com/">Matthew Kay</a><br>
        <a href="http://oaklab.org/">Jakob Eg Larsen</a><br>
        <a href="http://www.ethomaz.com">Edison Thomaz</a>
      </p>

      <h4>Dates</h4>
      <ul class="bulletless">
        <li>
          <b>Papers Due</b>
          June 2, 2014
        </li>
        <li>
          <b>Notification</b>
          June 22, 2014
        </li>
        <li>
          <b>Camera-Ready</b>
          June 29, 2014
        </li>
        <li>
          <b>Workshop</b>
          September 14, 2014
        </li>
      </ul>

      <h4>Location</h4>
      <p>
        <a href="https://www.google.com/maps/place/Red+Lion+Hotel+On+Fifth+Avenue+Seattle/@47.6100497,-122.3353811,17z/data=!3m1!4b1!4m2!3m1!1s0x5490154cb98be6d1:0x8b8c3e27d02ddc3e">
          Red Lion Hotel
        </a><br>
        1415 5th Ave<br>
        Seattle, WA 98101<br>
      </p>

      <h4>Ubicomp 2014</h4>
      <p>
        <a href="http://ubicomp.org/ubicomp2014/">
          <img src="/img/logo-ubicomp2014.png" alt="Ubicomp 2014" width="220">
        </a>
      </p>
      <p>
        September 13&ndash;17, 2014<br/>
        Seattle, WA
      </p>

    </div>
  </div>
</div>
